section{
    margin: 5%;
    background-color: burlywood;
    border-radius: 30px;
    padding: 1%;
}
h1{
    color: blue;
}
h2{
    color: #e3350d;
    text-align: center;
}
h3{
    color: black;
    text-align: left;
}
p{
    color: white;
    font-size: 16px;
}